@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Sans", Inter, ui-sans-serif, system-ui;
  background-color: #050505;
  color: #f8fafc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050505;
}

#app {
  min-height: 100vh;
}
